version: 2.0.32.{build}
environment:
  my_version: 2.0.32
  my_secret:
    secure: 5qtuEW0UQ/IEO8DRi4/y3EgEBoJDM/HyYpPgzasIlm0=
skip_branch_with_pr: true
image: Visual Studio 2017
clone_folder: c:\projects\ILRepack.Lib.MSBuild.Task
platform: Any CPU
configuration: Release
install:
  - nuget install secure-file -ExcludeVersion

before_build:
  - cmd: nuget restore
  - secure-file\tools\secure-file -decrypt "c:\projects\ILRepack.Lib.MSBuild.Task\ILRepack.Lib.MSBuild.Task\ILRepack.Lib.MSBuild.Task.snk.enc" -secret %my_secret%

artifacts:
  - path: ILRepack.Lib.MSBuild.Task\bin\Release\net472\ILRepack.Lib.MSBuild.Task.%my_version%.nupkg
    name: ILRepack.Lib.MSBuild.Task.%my_version%.nupkg

deploy:
  - provider: NuGet
    api_key:
      secure: niHgnyEf7tXImWdR3VEJ38p/3gaV7OiSijx0YUmycHTkh12id6zMKkTS+S2XjF2J
    skip_symbols: false
    artifact: ILRepack.Lib.MSBuild.Task.%my_version%.nupkg
    on:
      branch: master                 # release from master branch only
      appveyor_repo_tag: true        # deploy on tag push only
